# Ignore node_modules directory (for Node.js projects)
node_modules/

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore environment variable files
.env

# Ignore macOS system files
.DS_Store

# Ignore compiled code
*.class
*.exe
*.dll

# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore IDE project files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
